input{
    width: 200px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 3px;
	border: solid 1px #CCC;
	font-family: Arial;
	border-radius: 2px;
	outline: none;
}


.erro{
	border: solid 1px #FA5858;
}

.erro::placeholder{
	color: #FA5858;
}

button{
	background-color: #088A68;
	color: white;
	margin-top: 20px;
	width: 100px;
	height: 40px;
	border: none;
	border-radius: 2px;
}

button:hover{
	background-color: #04B486;
	cursor: pointer;
	color: white;
}
