#usuarioMenu {
  visibility: hidden;
}

#usuarioNotificacao {
  visibility: hidden;
}

#usuarioPesquisa {
  visibility: hidden;
}

#usuarioFavoritos {
  visibility: hidden;
}

#usuarioConteudosRecentes{
  visibility: hidden;
}

#acessoAdmin {
  display: none;
}

#favorito {
  color: darkgrey;
}

.my-container {
  padding: 0 1em 2em 1em;
}

.my-container h4 {
  margin-top: 0.8em;
}

.my-container .my-grid {
  display: grid;
  gap: 1em;
  justify-content: center;
}

.my-container figure {
  text-align: center;
  padding: 0;
  margin: 0;
}

.my-card-img {
  height: 250px;
  width: 170px;
  object-fit: fill;
  border-radius: 5px;
} 

@media (min-width: 320px) {
  .my-container {
    max-width: 320px;
  }
  
  .my-container .my-grid {
    grid-template-columns: 288px;
  }
  
  .my-card-img {
    height: 450px;
    width: 288px;
    object-fit: fill;
  }
}

@media (min-width: 540px) {
  .my-container {
    max-width: 482px;
  }
  
  .my-container .my-grid {
    grid-template-columns: repeat(2, 215px);
  }
  
  .my-card-img {
    height: 325px;
    width: 215px;
    object-fit: fill;
  }
}

@media (min-width: 768px) {
  .my-container {
    max-width: 740px;
  }
  
  .my-container .my-grid {
    grid-template-columns: repeat(3, 225px);
  }
  
  .my-card-img {
    height: 350px;
    width: 225px;
    object-fit: fill;
  }
}

@media (min-width: 1200px) {
  .my-container {
    max-width: 1195px;
  }
  
  .my-container .my-grid {
    grid-template-columns: repeat(6, 180px);
  }
  
  .my-card-img {
    height: 270px;
    width: 180px;
    object-fit: fill;
  }
}