.card {
  min-height: 100%;
}

#usuarioMenu {
  visibility: hidden;
}

#usuarioNotificacao {
  visibility: hidden;
}

#usuarioPesquisa {
  visibility: hidden;
}

#acessoAdmin {
  display: none;
}

#favorito {
  color: darkgrey;
}